<div class="container-fluid topper" [formGroup]="data">
  <div class="row">
    <div class="col-md-12">
      <mat-card style="opacity: 0.975; padding-top: 0">
        
        <label style="width: 100%">
          <input
            type="file"
            (change)="fileChangeEvent($event)"
            style="display: none"
          />
          <img
            mat-card-image
            [src]="data.value.image_path"
            style="height: auto; object-fit: cover; cursor: pointer"
          />
        </label>
        <mat-card-content class="p-3">
          <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
              <mat-form-field appearance="outline">
                <mat-label>หัวข้อ</mat-label>
                <input
                  matInput
                  placeholder="กรอกหัวข้อ"
                  formControlName="title"
                />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <mat-form-field appearance="outline">
                <mat-label>หัวข้อ</mat-label>
                <mat-select formControlName="region_id">
                  <mat-option *ngFor="let i of region" [value]="i.region_id">{{
                    i.region_name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <angular-editor
                [config]="config"
                formControlName="detail"
              ></angular-editor>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
