::ng-deep .mat-form-field-wrapper{
    margin-bottom: unset !important;
 }

 small {
    cursor: pointer;
 }

 .centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
  }

  button:disabled {
   opacity: 0.7;
  }