button {
  width: 100%;
  text-align: left;
}

.padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 2rem;
  /* overflow: hidden; */
}

mat-drawer {
  /* background-image: linear-gradient(rgb(160, 176, 197), rgb(128, 120, 225)); */
}
