<mat-drawer-container class="example-container" autosize style="height: 100vh">
    <mat-drawer #drawer mode="push" style="width: 15vw">
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    </mat-drawer>
  
    <div class="container-fluid">
      <ng-container *ngTemplateOutlet="element"></ng-container>
      <div class="container-fluid pt-3" style="padding-left:1.5rem;padding-right:1.5rem">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
  
  <ng-template #element>
    <div class="row p-3">
      <div class="col-md-12">
        <mat-icon
          aria-hidden="false"
          style="cursor: pointer; font-size: 50px"
          (click)="drawer.toggle()"
          >menu</mat-icon
        >
      </div>
    </div>
  </ng-template>
  
  <ng-template #menu>
    <div class="container">
      <div class="row pt-3">
        <div class="col-md-12">
          <img
            src="https://play-lh.googleusercontent.com/7irgBAv8FoiaSFXpfqwjwwLvEkmiPKg9hZV-Zsfnd-2JPRIaXe0jm_P_CD36QkIZfbg"
            style="width: 100%; height: auto"
          />
        </div>
      </div>

      <div class="row pt-3" *ngIf="user">
        <div class="col-md-12">
          <p><b>{{user.name}}</b></p>
          <p><b>{{user.email}}</b></p>
        </div>
      </div>
  
      <!-- <div class="row pt-3">
        <div class="col-md-12 d-flex justify-content-center">
          <button mat-flat-button color="primary" [matMenuTriggerFor]="products" class="padding" >
            <mat-icon> format_list_bulleted</mat-icon> Characters
          </button>
        </div>
      </div> -->
  
      <div class="row pt-3">
        <div class="col-md-12 d-flex justify-content-center">
          <button mat-flat-button color="primary" class="padding" [routerLink]="['/manage-set']"> 
            <mat-icon>chrome_reader_mode</mat-icon> &nbsp;จัดเซ็ตไอเท็ม
          </button>
        </div>
      </div>
  
      <div class="row pt-3">
        <div class="col-md-12 d-flex justify-content-center">
          <button mat-flat-button color="primary" class="padding" [routerLink]="['/bookmark']" [disabled]="!user">
            <mat-icon>pageview</mat-icon> &nbsp;สมุดบันทึก
          </button>
        </div>
      </div>
  
      <hr />
  
      <div class="row pt-1">
        <div class="col-md-12 d-flex justify-content-center">
          <!-- <button mat-flat-button color="accent">
            <mat-icon>pages</mat-icon> Manage Contract
          </button> -->
          <button mat-flat-button color="accent" class="padding" *ngIf="!user" (click)="signInWithFB()">
            <mat-icon>input</mat-icon> &nbsp;เข้าสู่ระบบ
          </button>
          <button mat-flat-button color="warn" class="padding" *ngIf="user" (click)="signOut()"> 
            <mat-icon>remove_circle</mat-icon> &nbsp;ออกจากระบบ
          </button>
        </div>
      </div>
  
      <!-- <footer>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <button mat-flat-button color="warn">
              <mat-icon>remove_circle</mat-icon> Logout
            </button>
          </div>
        </div>
      </footer> -->
    </div>
  
    <!-- <mat-menu #products="matMenu">
      <button mat-menu-item [routerLink]="['/characters-list']">
        <mat-icon>dashboard</mat-icon> Characters List
      </button>
      <button mat-menu-item [matMenuTriggerFor]="classes">
        <mat-icon>class</mat-icon> Classes
      </button>
    </mat-menu>
  
    <mat-menu #product_list="matMenu">
      <button mat-menu-item [routerLink]="['/products']">Products</button>
      <button mat-menu-item>Add Product</button>
    </mat-menu>
  
    <mat-menu #classes="matMenu">
      <button mat-menu-item>Samurai</button>
      <button mat-menu-item>Tank</button>
      <button mat-menu-item>Support</button>
      <button mat-menu-item>Mage</button>
      <button mat-menu-item>Shinobi</button>
    </mat-menu> -->
  </ng-template>
  
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>