.max-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.child {
  position: absolute;
  top: 7.5px;
  right: 7.5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.role_child {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.role_child {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
/* 
::ng-deep .mat-form-field-wrapper{
  margin-bottom: unset !important;
  padding-bottom: unset !important;
}
 */

