small {
    cursor:pointer;
    color:white
}

.bg {
    background-image: url("https://vsthemes.org/uploads/posts/2022-04/1649044277_04-04-2022-08_49_43.webp");
    min-height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    position:absolute;
    width:100%
  }

  mat-toolbar{
    background-color: rgba(0, 0, 0, 0.133);
  }

  .router-wrapper  {
    position:  relative;
    overflow:  hidden;
    width:  100vw;
    height:  calc(100%  -  47px);
    perspective:  1200px;
    transform-style:  preserve-3d;
  }
  
  :host  {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #60d7a9; */
  }
  