<div class="row">
  <div class="col-md-12">
    <h1><mat-icon>book</mat-icon> สมุดบันทึกของฉัน</h1>
  </div>
</div>

<div class="row">
  <div
    class="col-md-4 pt-3 pb-3"
    *ngFor="let i of bookmark | paginate: { itemsPerPage: 6, currentPage: p }"
  >
    <img [src]="i.base64" (dblclick)="delete_item(i.id)" />
  </div>
</div>

<div class="row pt-3 pb-3">
  <div class="col-md-12 d-flex justify-content-center">
    <pagination-controls
      (pageChange)="p = $event"
      nextLabel="ถัดไป"
      previousLabel="ย้อนกลับ"
    ></pagination-controls>
  </div>
</div>
