/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  padding: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.5em;
  overflow: hidden;
}

th,
td {
  text-align: left;
  padding: 1em;
  border: 1px solid rgb(0, 0, 0);
}

tr {
  background-color: #f0f0f0;
}

/* tr:nth-child(even){background-color: #f2f2f2} */

th {
  background-color: #3f51b5;
  color: white;
}

mat-icon {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1.75em;
  height: 1.75em;
}
