/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@800&display=swap");

* {
  font-family: "Athiti", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}
.fb {
  background-color: #4267b2;
  color: white;
}

.topper {
  padding: 10vh 30px 30px 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.5em;
  overflow: hidden;
}

th,
td {
  text-align: left;
  padding: 1em;
  border: 1px solid rgb(0, 0, 0);
}

tr {
  background-color: #f0f0f0;
}

/* tr:nth-child(even){background-color: #f2f2f2} */

th {
  background-color: #3f51b5;
  color: white;
}

mat-icon {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1.75em;
  height: 1.75em;
}
